extends ./layout.jade

block content
  .jumbotron
    .container
      h1 Book Burrow tag line about our product and why it's so good.
      p Additional line about Book Burrow
      p
        a.btn.btn-primary.btn-lg(href='/register', role='button') Register
      p
        a.btn.btn-info.btn-lg(href="/login", role="button") Login
